#plot {
  min-width: 200px;
  width: 100%;
  height: 400px;
  max-height: 80%;
  background: white;
  background: #dcdcdc;
}

#plot_container {
  margin: 10px;
  padding: 10px;
  background: #dcdcdc;
  box-shadow: 0px 0px 7px;
}

#custom_range {
  display: none;
}

#checkboxes > label {
  margin: 3px 3px;
  padding: 2px;
}

.hover:hover {
  background: #c4c4c4;
}

#checkboxes {
  display: inline-block;
  padding: 3px;
  margin: 0px;
  margin-bottom: 5px;
  text-align: center;
}

#checkbox_container {
  text-align: center;
}

input[type=checkbox] {

}

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: #ededed;
}

.header {
  background: #dcdcdc;
  margin: 0px;
  margin-bottom: 10px;
  border: 0px;
  padding: 5px;
  box-shadow: 0px 0px 7px;
}


h2 {
  font-size: 3em;
  margin: 0px;
  border: 0px;
  padding: 0px;
  text-align: center;
  font-weight: normal;
}

h4 {
  margin: 3px;
  display: block;
  font-size: 1.2em;
}

h5 {
  display: inline;
  font-size: inherit;
}

#content {
  border: 0px;
  text-align: center;
}

.tickLabel {
  font-size: 80%;
}


.buttons {
  text-align: center;
  display: inline-block;
}

.left {
  float: left;
  width: 3em;
}

#hide {
  display: initial;
}

#show {
  display: none;
}

.area {
  margin: 5px 0px;
}
